<div class="homepage">  
  <a routerLink="/locations" class="btn">Locations</a>
  <a routerLink="/flights" class="btn">Flight Query</a>
  <a routerLink="/city-browser" class="btn">Explore by City</a>

    <h1>{{ title }}</h1>
    <p>Explore movies and their filming locations</p>

    <app-topbar></app-topbar>


    <!--search area-->
    <div class="search-filter">
      <input
        type="text"
        [(ngModel)]="searchTerm"
        (input)="onSearch()"
        placeholder="Search by title..."
        class="search-box"
      />
    </div>
    <div class="filter-container">

      <label for="year">Year:</label>
      <select id="year" [(ngModel)]="selectedYear" (change)="onFilterChange()" class="selection">
        <option value="" class="filter-title">All Years</option>
        <option *ngFor="let year of years" [value]="year">{{ year }}</option>
      </select>
    </div>
    
    <!--movies list -->
    <div class="movie-box">
      <ul class="movie-list">
        <li *ngFor="let movie of filteredMovies">
          <h3>
            <a [title]="movie.title" class="movie-link">
              {{ movie.title }}
            </a>
          </h3>

          <!--Like-->
          <button (click)="toggleLike(movie)" 
            [ngClass]="likedMovies.includes(movie.id_movies) ? 'liked-button' : 'like-button'">
              {{ likedMovies.includes(movie.id_movies) ? '❤️ Liked' : '🤍 Like' }}
          </button>
          <!-- <span *ngIf="movie.likes !== undefined">{{movie.likes}} </span> -->
        </li>
      </ul>
    
    </div>
  </div>
  